## Star Patterns

### solid square

In [18]:
n=6
for i in range(n):
    print('*'*n)

******
******
******
******
******
******

##### Left aligned triangle

In [8]:
n=6
for i in range(n+1):
      print('*'*i)

*
**
***
****
*****
******

##### Right aligned triangle

In [48]:
n=7
for i in range(1,n+1):
    print(' '*(n-i)+'@'*i)

      @
     @@
    @@@
   @@@@
  @@@@@
 @@@@@@
@@@@@@@

### inverted left aliigned triangle

In [11]:
n=6
for i in range(n,0,-1):
    print('#'*i)

######
#####
####
###
##
#

#### Pyramids

In [25]:
    n=6
    for i in range(n):
     print(' ' * (n -i)+'* '*i)

     *
    * *
   * * *
  * * * *
 * * * * *

#### inverted right aligned triangle

In [18]:
n=6
for i in range(n,0,-1):
    print(' '*(n-i)+'*'*i)

******
 *****
  ****
   ***
    **
     *

#### inverted pyramid

In [27]:
n=6
for i in range(n,0,-1):
    print(' ' * (n -i)+'* '*i)

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [40]:
n=4
for i in range(1,n+1):
    print(' '*(n-i)+'*'*i)

   *
  **
 ***
****

#### diamond pattren

In [41]:
n=4
for i in range(n):
       print(' ' * (n -i)+'* '*i)
for i in range(n,0,-1):
       print(' ' * (n -i)+'* '*i)

   *
  * *
 * * *
* * * *
 * * *
  * *
   *

#### hollow pyramid

In [92]:
n=6
for i in range(n,0,-1):
  for j in range(n-i):
      print(' ',end='')
  for k in range(2*i-1):
     if k==0 or k==2*i-2 or i==n:
         print('s',end='')
     else:
         print(' ',end='')
  print()

sssssssssss
 s       s
  s     s
   s   s
    s s
     s

In [89]:
for i in range(4):
   print('*',end=' ')

* * * *

In [79]:
for i in range(5):
    print(2*i-1)

-1
1
3
5
7

In [117]:
n=6
for i in range(1,n+1):
  for j in range(n-i):
      print(' ',end='')
  for k in range(2*i-1):
     if k==0 or k==2*i-2 or i==n:
         print('s',end='')
     else:
         print(' ',end='')
  print()

     s
    s s
   s   s
  s     s
 s       s
sssssssssss

In [106]:
n=5
for i in range(1,n+1):
  for j in range(n-i):
      print(' ',end='')
  for k in range(2*i-1):
     if k==0 or k==2*i-2 :
         print('s',end='')
     else:
         print(' ',end='')
  print()
    
for i in range(n,0,-1):
  for j in range(n-i):
      print(' ',end='')
  for k in range(2*i-1):
     if k==0 or k==2*i-2:
         print('s',end='')
     else:
         print(' ',end='')
  print()

    s
   s s
  s   s
 s     s
s       s
s       s
 s     s
  s   s
   s s
    s

In [31]:
n=6
for i in range(n):
    print('*'*n)
n=6
for i in range(n+1):
      print('*'*i)
    
n=7
for i in range(1,n+1):
    print(' '*(n-i)+'@'*i)

******
******
******
******
******
******

*
**
***
****
*****
******
      @
     @@
    @@@
   @@@@
  @@@@@
 @@@@@@
@@@@@@@

n=4
for i in range(1,n+1):
    print(' '*(n-i)+'*'*(2*i-1))

    print()

In [15]:
for i in range(4):
  print('*'*(n-i+2))

******
*****
****
***

## *number pattrens*

### Hollow square

In [19]:
for i in range(1,n+1):
    print('*'*n)

****
****
****
****

In [58]:
n=int(input('enter a value of n:'))
for i in range(n):
  for j in range(n):
      if i==0 or i==n-1 or j==0 or j==n-1:
          print('*',end='')
      else:
          print(' ',end='')

print()

enter a value of n: 5

******   **   **   ******

In [40]:
n=5
for i in range(n+1):
      print('*'*i)

for i in range(n-1,0,-1):
    print('*'*i)

*
**
***
****
*****
****
***
**
*

In [50]:
n=5
for i in range(1,n+1):
    print(' '*(n-i)+'*'*i)

for i in range(n-1,0,-1):
    print(' '*(n-i)+'*'*i)

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [60]:
n=5
for i in range(1,n+1):
    print('*'*i+' '*(2*(n-1)):

SyntaxError: invalid syntax (4148048969.py, line 3)

In [69]:
n=6
for i in range(n,0,-1):
    print(' ' * (n -i)+'* '*i)
for i in range(1,n+1):
    print(' ' * (n -i)+'* '*i)

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [75]:
n=4
for i in range(n,0,-1):
    print(' '*(n-i)+'*'*(2*i-1))
for i in range(2,n+1):
    print(' '*(n-i)+'*'*(2*i-1))

*******
 *****
  ***
   *
  ***
 *****
*******

In [86]:
n=5
for i in range(n):
    for j in range(n):
        if i==j or j==n-i-1:
            print('*',end='')

        else:
            print(' ',end='')

    print()

*   *
 * *
  *
 * *
*   *

### Alphabets and Number pattrens

In [91]:
chr(65)

'A'

In [98]:
start=65
for i in range(n):
   
 for j in range(i+1):
     print(chr(start+j),end=' ')

 print()

A
A B
A B C
A B C D
A B C D E

In [103]:
start=1
for i in range(n):
   
 for j in range(i+1):
     print((start+j),end=' ')

 print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [104]:
start=1
for i in range(n):
   
 for j in range(i+1):
     print((start+i),end=' ')

 print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [121]:
start=1
for i in range(n):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(i+1):
     print((start+j),end='')
   print()

     1
    12
   123
  1234
 12345

In [122]:
start=1
for i in range(n):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(i+1):
     print((start+j),end=' ')
   print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [133]:
start=0
for i in range(n,0,-1):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(1,i+1):
     print((start+j),end=' ')
   print()

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [132]:
start=0
for i in range(n,0,-1):
   
   for j in range(1,i+1):
     print((start+j),end='')
   print()

12345
1234
123
12
1

In [134]:
start=0
for i in range(n,0,-1):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(1,i+1):
     print((start+i),end=' ')
   print()

5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

#### Floyds traingle

In [143]:
start=1
for i in range(n):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(i+1):
     print((start),end=' ')
     start+=1
   print()

     1
    2 3
   4 5 6
  7 8 9 10
 11 12 13 14 15

In [152]:
n=6

In [155]:
start=1
num=n*(n+1)//2
for i in range(n,0,-1):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(i):
     print((num),end=' ')
     num-=1
   print()

21 20 19 18 17 16
 15 14 13 12 11
  10 9 8 7
   6 5 4
    3 2
     1

#### diamond number pattren

In [77]:
s=1
num=(n-1)*n//2
for i in range(1,n+1):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(1,i+1):
     print(s,end=' ')
   print()

for i in range(n-1,0,-1):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(1,i+1):
       print(num,end=' ')
       num-=1
   print()

    1
   1 1
  1 1 1
 1 1 1 1
1 1 1 1 1
 10 9 8 7
  6 5 4
   3 2
    1

In [78]:

for i in range(n,0,-1):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(i+1):
     print((start+j),end=' ')
   print()
start+=0
for i in range(n+2):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(i+1):
     print((start+j),end=' ')
   print()

1 2 3 4 5 6
 1 2 3 4 5
  1 2 3 4
   1 2 3
    1 2
     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

#### pascal's triangle

In [104]:
import math
### math.comb(n,k)

In [105]:
n=5
start=1
for i in range(n-1,0,-1):
    for j in range(n-i-1):
        print(' ',end='')
    for j in range(i):
        print(math.comb(i,j),end=' ')
    print()

1 4 6 4
 1 3 3
  1 2
   1

In [112]:
start=65
for i in range(n,0,-1):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(1,i+1):
     print(chr(j+64),end=' ')
   print()

    A
   A B
  A B C
 A B C D
A B C D E

#### diamond pascal

In [114]:
start=65
for i in range(1,n+1):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(1,i+1):
     print(chr(j+64),end=' ')
   print()
for i in range(n-1,0,-1):
   for j in range(n-i):
     print(' ',end='')
   
   for j in range(1,i+1):
     print(chr(j+64),end=' ')
   print()

    A
   A B
  A B C
 A B C D
A B C D E
 A B C D
  A B C
   A B
    A

In [126]:
start=65

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end='')
        
    for j in range(i):
        if j==0 or j==i-1 or i==n:
           print(chr(start+j),end=' ')
        else:
           print(' ',end=' ')

    print()

A B C D E F
 A       E
  A     D
   A   C
    A B
     A

In [139]:
start=1

tot=n*(n-1)//2
for i in range(n):
    for j in range(n-i):
        print(' ',end='')
    for j in range(i):
        print(chr(tot+64),end=' ')
        tot-=1

    print()

    O
   N M
  L K J
 I H G F

In [24]:

start=1
tot=n*(n+1)//2
for i in range(n):
    for j in range(n-i):
        print(' ',end='')
    for j in range(i):
        print(chr(tot+64),end=' ')
        tot-=1

    print()

tot=n*(n+1)//2
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end='')
    for j in range(i):
        print(chr(tot+64),end=' ')
        tot-=1

    print()

    O
   N M
  L K J
 I H G F
O N M L K
 J I H G
  F E D
   C B
    A

In [164]:
start=65

for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end='')
        
    for j in range(i):
        if j==0 or j==i-1:
           print(chr(start),end=' ')
        else:
           print(' ',end=' ')
           start+=1

    print()

tot=n*(n-1)//2
for i in range(n-1,0,-1):
    for j in range(n-i):
        print(' ',end='')
        
    for j in range(n):
        if j==0 or j==i-1:
           print(chr(tot+64),end=' ')
        else:
           print(' ',end=' ')
           tot-=1

    print()

    A
   A A
  A   B
 B     D
D       G
 J     H
  G   F
   D D
    A